* {
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1200px;
    border: 2px solid black;
    margin: 0 auto;
}
header {
    background-color: #777777;
    text-align: center;
}
header h1 {
    font-size: 36px;
}
header p {
    font-size: 22px;
    font-weight: 600;
}
.content {
    background-color: #AA68FF;
    padding: 20px;
    border: 2 px solid blue;
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
.content p {
    color: #FF3356;
    font-kerning: auto;
    font-weight: 500;
    font-size: 18px;
}